<div class="mt-4">
    <form method="POST">
    <div class="mb-3">
        <label for="searchBar" class="form-label">Search...</label>
        <input type="text" name="q" class="form-control" id="searchBar" placeholder="Type something...">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>